---
version: 2
interactions:
    - id: 0
      request:
        host: customer.cloudamqp.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
        url: https://customer.cloudamqp.com/api/plans
        method: GET
      response:
        body: '[{"name":"lemming","price":0,"backend":"lavinmq","shared":true},{"name":"vpn","price":0,"backend":"vpn","shared":false},{"name":"lemur","price":0,"backend":"rabbitmq","shared":true},{"name":"tiger","price":19,"backend":"rabbitmq","shared":true},{"name":"ermine","price":19,"backend":"lavinmq","shared":true},{"name":"puffin-1","price":49,"backend":"lavinmq","shared":false},{"name":"squirrel-1","price":50,"backend":"rabbitmq","shared":false},{"name":"penguin-1","price":99,"backend":"lavinmq","shared":false},{"name":"bunny","price":99,"backend":"rabbitmq",[...]
    - id: 1
      request:
        host: customer.cloudamqp.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
        url: https://customer.cloudamqp.com/api/regions
        method: GET
      response:
        body: '[{"provider":"amazon-web-services","region":"us-east-1","name":"Amazon Web Services - US-East-1 (Northern Virginia)","has_shared_plans":true},{"provider":"amazon-web-services","region":"us-west-2","name":"Amazon Web Services - US-West-2 (Oregon)","has_shared_plans":true},{"provider":"amazon-web-services","region":"us-east-2","name":"Amazon Web Services - US-East-2 (Ohio)","has_shared_plans":true},{"provider":"amazon-web-services","region":"us-west-1","name":"Amazon Web Services - US-West-1 (Northern California)","has_shared_plans":true},{"provider":"amazon-web-services","region":"eu-north-1","name":"Amazon Web Services - EU-Nort[...]
[...]
    - id: 6
      request:
        host: customer.cloudamqp.com
        body: |
            {"name":"TestAccIntegrationMetricPrometheusRemoteWrite_Basic","no_default_alarms":false,"plan":"bunny-1","preferred_az":[],"region":"amazon-web-services::us-east-1","tags":["terraform"]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
        url: https://customer.cloudamqp.com/api/instances
        method: POST
      response:
        body: '{"id":401535,"message":"Your dedicated instance will be available within a couple of minutes","apikey":"7535c13c-1b0c-423e-b81d-fcfa0446c53d","url":"amqps://cwqhxorc:***@test-amusing-blond-toad.rmq7.cloudamqp.com/cwqhxorc"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.02774775s
    - id: 7
      request:
        host: customer.cloudamqp.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
        url: https://customer.cloudamqp.com/api/instances/401535
        method: GET
      response:
        body: '{"id":401535,"name":"TestAccIntegrationMetricPrometheusRemoteWrite_Basic","plan":"bunny-1","region":"amazon-web-services::us-east-1","tags":["terraform"],"providerid":"36b75a2a-ab39-4418-a1b8-f2e32d36763c","url":"amqps://cwqhxorc:***@test-amusing-blond-toad.rmq7.cloudamqp.com/cwqhxorc","ready":true,"apikey":"7535c13c-1b0c-423e-b81d-fcfa0446c53d","backend":"rabbitmq","nodes":1,"urls":{"external":"amqps://cwqhxorc:***@test-amusing-blond-toad.rmq7.cloudamqp.com/cwqhxorc","internal":"amqp://cwqhxorc:***@test-amusing-blond-toad.in.rmq7.cloudamqp.com/cwqhxorc"},"rmq_version":"4.3.4","hostname_external":"test-amusing-blond-toad.rmq7.cloudamqp.com","hostname_internal":"test-amusing-blond-toad.in.rmq7.cloudamqp.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 385.155667ms
[...]
    - id: 9
      request:
        host: customer.cloudamqp.com
        body: |
            {"auth_type":"basic_auth","endpoint":"https://mimir.example.com/api/v1/push","headers":"X-Scope-OrgID: tenant-1","password":"REMOTE_WRITE_PASSWORD","tags":"env=prod,service=rabbitmq","username":"mimir-writer"}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
        url: https://customer.cloudamqp.com/api/instances/401535/integrations/metrics/prometheus_remote_write
        method: POST
      response:
        body: '{"id":23090}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 369.51025ms
    - id: 10
      request:
        host: customer.cloudamqp.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
        url: https://customer.cloudamqp.com/api/instances/401535/integrations/metrics/23090
        method: GET
      response:
        body: '{"id":23090,"type":"prometheus_remote_write","config":{"tags":"env=prod,service=rabbitmq","headers":"X-Scope-OrgID: tenant-1","endpoint":"https://mimir.example.com/api/v1/push","password":"REMOTE_WRITE_PASSWORD","username":"mimir-writer","auth_type":"basic_auth"},"account_id":"36b75a2a-ab39-4418-a1b8-f2e32d36763c","error":null,"created_at":"2026-09-03 07:37:31 UTC","metrics_filter":["system_cpu_utilization_ratio","system_disk_io_bytes_total","system_disk_operation_time_seconds_total","system_disk_operations_total","system_filesystem_usage_bytes","system_filesystem_utilization_ratio","system_memory_limit_bytes","system_memory_usage_bytes","system_network_io_bytes_total","system_paging_usage_bytes","rabbitmq_alarms_memory_used_watermark","rabbitmq_alarms_free_disk_space_watermark","rabbitmq_connections","rabbitmq_channels","rabbitmq_consumers","rabbitmq_disk_space_available_bytes","rabbitmq_exchange_messages_published_total","rabbitmq_global_messages_acknowledged_total","rabbitmq_global_messages_confirmed_total","rabbitmq_global_messages_delivered_total","rabbitmq_global_messages_delivered_get_manual_ack_total","rabbitmq_global_messages_delivered_get_auto_ack_total","rabbitmq_global_messages_redelivered_total","rabbitmq_global_messages_unroutable_dropped_total","rabbitmq_global_messages_unroutable_returned_total","rabbitmq_process_open_fds","rabbitmq_process_resident_memory_bytes","rabbitmq_queues","rabbitmq_queue_get_total","rabbitmq_queue_get_ack_total","rabbitmq_queue_messages","rabbitmq_queue_messages_acked_total","rabbitmq_queue_messages_delivered_ack_total","rabbitmq_queue_messages_persistent","rabbitmq_queue_messages_published_total","rabbitmq_queue_messages_ready","rabbitmq_queue_messages_unacked"],"deleted_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 261.850708ms
[...]
    - id: 15
      request:
        host: customer.cloudamqp.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
        url: https://customer.cloudamqp.com/api/instances/401535?keep_vpc=false
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 577.157958ms
[...]
