---
version: 2
interactions:
    - id: 0
      request:
        host: customer.cloudamqp.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
        url: https://customer.cloudamqp.com/api/plans
        method: GET
      response:
        body: '[{"name":"lemming","price":0,"backend":"lavinmq","shared":true},{"name":"lemur","price":0,"backend":"rabbitmq","shared":true},{"name":"vpn","price":0,"backend":"vpn","shared":false},{"name":"tiger","price":19,"backend":"rabbitmq","shared":true},{"name":"ermine","price":19,"backend":"lavinmq","shared":true},{"name":"puffin-1","price":49,"backend":"lavinmq","shared":false},{"name":"squirrel-1","price":50,"backend":"rabbitmq","shared":false},{"name":"bunny-1","price":99,"backend":"rabbitmq","shared":false},{"name":"vpc","price":99,"backend":"vpc","shared"[...]
    - id: 1
      request:
        host: customer.cloudamqp.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
        url: https://customer.cloudamqp.com/api/regions
        method: GET
      response:
        body: '[{"provider":"amazon-web-services","region":"us-east-1","name":"Amazon Web Services - US-East-1 (Northern Virginia)","has_shared_plans":true},{"provider":"amazon-web-services","region":"us-west-2","name":"Amazon Web Services - US-West-2 (Oregon)","has_shared_plans":true},{"provider":"amazon-web-services","region":"us-east-2","name":"Amazon Web Services - US-East-2 (Ohio)","has_shared_plans":true},{"provider":"amazon-web-services","region":"us-west-1","name":"Amazon Web Services - US-West-1 (Northern California)","has_shared_plans":true},{"provider":"amazon-web-services","region":"eu-north-1","name":"Amazon Web Services - EU-Nort[...]
[...]
    - id: 6
      request:
        host: customer.cloudamqp.com
        body: |
            {"name":"TestAccIntegrationMetricPrometheusGrafana_Basic","no_default_alarms":false,"plan":"bunny-1","preferred_az":[],"region":"amazon-web-services::us-east-1","tags":["terraform"]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
        url: https://customer.cloudamqp.com/api/instances
        method: POST
      response:
        body: '{"id":401180,"message":"Your dedicated instance will be available within a couple of minutes","apikey":"2acad9fd-eade-43b0-8c00-097a3411a2e1","url":"amqps://qfqhpbjf:***@test-hippy-teal-penguin.rmq7.cloudamqp.com/qfqhpbjf"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.184075875s
    - id: 7
      request:
        host: customer.cloudamqp.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
        url: https://customer.cloudamqp.com/api/instances/401180
        method: GET
      response:
        body: '{"id":401180,"name":"TestAccIntegrationMetricPrometheusGrafana_Basic","plan":"bunny-1","region":"amazon-web-services::us-east-1","tags":["terraform"],"providerid":"6ee4e76c-ca3f-478a-a797-96c12aef7e73","url":"amqps://qfqhpbjf:***@test-hippy-teal-penguin.rmq7.cloudamqp.com/qfqhpbjf","ready":true,"apikey":"2acad9fd-eade-43b0-8c00-097a3411a2e1","backend":"rabbitmq","nodes":1,"urls":{"external":"amqps://qfqhpbjf:***@test-hippy-teal-penguin.rmq7.cloudamqp.com/qfqhpbjf","internal":"amqp://qfqhpbjf:***@test-hippy-teal-penguin.in.rmq7.cloudamqp.com/qfqhpbjf"},"rmq_version":"4.3.4","hostname_external":"test-hippy-teal-penguin.rmq7.cloudamqp.com","hostname_internal":"test-hippy-teal-penguin.in.rmq7.cloudamqp.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 234.6505ms
[...]
    - id: 9
      request:
        host: customer.cloudamqp.com
        body: |
            {"api_token":"GRAFANA_API_TOKEN","endpoint":"https://prometheus-prod-01-eu-west-0.grafana.net/api/prom/push","instance_id":"123456","tags":"env=prod,service=rabbitmq"}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
        url: https://customer.cloudamqp.com/api/instances/401180/integrations/metrics/grafana
        method: POST
      response:
        body: '{"id":23039}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 345.699333ms
    - id: 10
      request:
        host: customer.cloudamqp.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
        url: https://customer.cloudamqp.com/api/instances/401180/integrations/metrics/23039
        method: GET
      response:
        body: '{"id":23039,"type":"grafana","config":{"tags":"env=prod,service=rabbitmq","endpoint":"https://prometheus-prod-01-eu-west-0.grafana.net/api/prom/push","api_token":"GRAFANA_API_TOKEN","instance_id":"123456"},"account_id":"6ee4e76c-ca3f-478a-a797-96c12aef7e73","error":null,"created_at":"2026-08-31 13:26:39 UTC","metrics_filter":["system_cpu_utilization_ratio","system_disk_io_bytes_total","system_disk_operation_time_seconds_total","system_disk_operations_total","system_filesystem_usage_bytes","system_filesystem_utilization_ratio","system_memory_limit_bytes","system_memory_usage_bytes","system_network_io_bytes_total","system_paging_usage_bytes","rabbitmq_alarms_memory_used_watermark","rabbitmq_alarms_free_disk_space_watermark","rabbitmq_connections","rabbitmq_channels","rabbitmq_consumers","rabbitmq_disk_space_available_bytes","rabbitmq_exchange_messages_published_total","rabbitmq_global_messages_acknowledged_total","rabbitmq_global_messages_confirmed_total","rabbitmq_global_messages_delivered_total","rabbitmq_global_messages_delivered_get_manual_ack_total","rabbitmq_global_messages_delivered_get_auto_ack_total","rabbitmq_global_messages_redelivered_total","rabbitmq_global_messages_unroutable_dropped_total","rabbitmq_global_messages_unroutable_returned_total","rabbitmq_process_open_fds","rabbitmq_process_resident_memory_bytes","rabbitmq_queues","rabbitmq_queue_get_total","rabbitmq_queue_get_ack_total","rabbitmq_queue_messages","rabbitmq_queue_messages_acked_total","rabbitmq_queue_messages_delivered_ack_total","rabbitmq_queue_messages_persistent","rabbitmq_queue_messages_published_total","rabbitmq_queue_messages_ready","rabbitmq_queue_messages_unacked"],"deleted_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 245.498834ms
[...]
    - id: 15
      request:
        host: customer.cloudamqp.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
        url: https://customer.cloudamqp.com/api/instances/401180?keep_vpc=false
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 574.166458ms
[...]
