name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          # Allow goreleaser to access older tag information.
          fetch-depth: 0

      - uses: actions/setup-go@v6
        with:
          go-version-file: .go-version

      - uses: hashicorp/setup-terraform@v4
        id: setup-terraform
        with:
          terraform_wrapper: false

      - name: Run tests
        run: make test
        env:
          TF_ACC_TERRAFORM_PATH: ${{ steps.setup-terraform.outputs.terraform_path }}

      - name: Build for single target with GoReleaser
        uses: goreleaser/goreleaser-action@ec59f474b9834571250b370d4735c50f8e2d1e29 # v7.0.0
        with:
          args: build --clean --snapshot --single-target
